@model IEnumerable<WebApplication19.Data.RetrieveWorkloadTime_Result>

<div id="searchresults">
    <ul>
        @foreach (var elem in Model.ToList())
        {
            <option value="@Html.DisplayFor(mod => elem.CountPerson)"> @Html.DisplayFor(mod => elem.StartInt);</option>
        }
    </ul>
    <input type="search" />
</div>