body {
    text-align: center;
    padding: 10px 5%;
    font: 13pt "Consolas";
    color: gray;
}
main {
    text-align: justify;
    width: 90%;
    border: 1px solid silver;
    margin: 20px auto;
    padding: 20px 30px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 silver, 0 10px 20px silver;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
main p {
    text-indent: 30px;
}

.banner-text h1 {
    font-family: 'Galada', cursive;
    letter-spacing: 2.7px;
    position: relative;
    display: inline-block;
    color: aquamarine
    font-size: 20px;
}
.banner-text p {
    font-size: 55px;
    margin-bottom: 13px;
    text-align: center;
    color: #e75b1e;
    font-family: 'Playball', cursive;
    letter-spacing: 1.62px;
}
.after-text h1{
       font-family: 'Galada', cursive;
    letter-spacing: 1.7px;
    position: relative;
    display: inline-block;
    color: aquamarine 
}
}